[user]
	email = francois.p.reynaud@gmail.com
	name = François REYNAUD

[credential "https://github.com"]
	username = fpreynaud

[core]
	editor = vim

[alias]
	logd = log --decorate=full
	tree = log --graph --decorate --oneline --branches
	diffl = diff HEAD^
	index = ls-files
	st = status

[push]
	default = matching
